.doctor-feedback-container {
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .feedback-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .doctor-feedback-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .doctor-feedback-table thead th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ccc;
  }
  
  .doctor-feedback-table tbody tr td {
    height: 50px;
    padding: 12px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .doctor-feedback-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .doctor-feedback-table tbody td:nth-child(4) {
    width: 150px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
  }
  
  .pagination button {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  
  
  .doctor-feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000;
    /* Ajusta el ancho según tus preferencias */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    padding: 20px;
    margin: 0;
  }
  
  .feedback-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    align-self: flex-start;
  }
  
  .filter-left {
    display: flex;
    align-items: center;
    width: 30%;
  }
  
  .feedback-filter select {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 15px;
  }
  
  .feedback-filter input {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
  
  }
  
  
  
  
  
  
  
  
  
  
  
  .pagination {
    display: flex;
    /* justify-content: flex-end;  --> Eliminamos esta línea */
    align-items: center;
    margin-top: 15px;
    align-self: flex-start;
    width: 100%;
  
  }
  
  .pagination button {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
  
  .view-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .view-button:hover {
    background-color: #0455be;
    /* Efecto hover en el botón */
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  
  .app-container-doctor-feedback {
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    align-items: center;
    /* Centra el contenido verticalmente */
    margin: 0;
    /* Centra el co/* Centra el contenido verticalmente */
  }
  
  
  .doctor-feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000;
    /* Ajusta el ancho según tus preferencias */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    padding: 20px;
    margin: 0;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  