

  .doctor-view {
    background: red;
    display: flex; 
    margin: 0;
    width: 100vw; 
    height: 400px;
  }
  
  .content {
    display: flex; 
    height: 100%;
    width: 100vw;
    background: transparent; 
  }
  
  .description {
    color: #888;
    padding-left: 40px; 
    padding-top: 80px;
  }
  
  
  /* Nuevos estilos */
  .doctor-view-content-title{
    text-align: center;
  }
  .text {
    align-self: flex-start;  
  }
  
  .image-container {
     align-self: flex-end;
     margin-right: 20px;
  }  
  
  .doctor {
    max-width: 300px;
    height: auto;
  }
  .doctor-filtering{
    text-align: center;
    padding-bottom: 20px;
    

  }
  .doctor-filter{
    margin-right: 10px; 
  }

  .doctor-filter-specialty{
    margin-right: 10px; 
    width:200px ;
  }